---
interface Props {
	class?: string;
	'data-hero-content'?: boolean | '';
}

const { class: className, ...attrs } = Astro.props;
---

<div class:list={['mx-auto w-full max-w-7xl px-5 md:px-10', className]} {...attrs}>
	<slot />
</div>
